@model IEnumerable<RssFeeder.Mvc.Models.SiteParserModel>

@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleSelector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParagraphSelector)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleSelector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParagraphSelector)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parser)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Clone", "Clone", new { sourceID = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
