@model IEnumerable<RssFeeder.Mvc.Models.FeedModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RssFeeder</h1>
    <p>Providing RSS feeds for sites that don't offer one.</p>
</div>
<div class="text-left">
    <h2>Available feeds</h2>
    <table class="table table-bordered table-striped table-responsive-md">
        <caption>Available feeds</caption>
        <thead>
            <tr>
                <th>Site</th>
                <th>Status</th>
                <th>Feedly</th>
                <th>RSS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string badge = item.StatusMessage switch
                {
                    "online" => "badge badge-success",
                    "offline" => "badge badge-danger",
                    "degraded" => "badge badge-warning",
                    _ => "badge badge-primary"
                };
                <tr>
                    <td><a href="@item.url" target="_blank">@item.title</a></td>
                    <td><span class="@badge">@item.StatusMessage</span></td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.FeedlyUrl))
                        {
                            <a href='@item.FeedlyUrl' target='blank'>
                                <img id='feedlyFollow' src='https://rssfeedermvc.azurewebsites.net/feedly-follow-rectangle-volume-medium_2x.png' alt='follow us in feedly' width='71' height='28'>
                            </a>
                        }
                    </td>
                    <td>
                        <a href="@item.RssUrl" target="_blank">
                            <img src="https://rssfeedermvc.azurewebsites.net/feed-icon-28x28.png" width='28' height='28' alt="RSS feed">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
